@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  font-family: "Inter", sans-serif;
}
#box {
  width: 150px;
  height: 150px;
  background: lightcoral;
  margin-top: 10px;
}

.img-nothing {
  width: 200px;
  height: 100px;
}

.text-content {
  color: rebeccapurple;
  text-transform: capitalize;
  border: 1px solid rebeccapurple;
  background-color: rgb(209, 191, 226);
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}
