* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
html {
  font-size: 62.5%;
}

:root {
  --underWeight: #ff5003;
  --normal: green;
  --overWeight: lightcoral;
  --obese: crimson;
}

.container {
  background-color: white;
  width: 90%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1;
  height: auto;
}

.container h1 {
  color: rebeccapurple;
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
}
.bmi-succeed {
  color: green;
  background-color: rgb(189, 233, 189);
  padding: 0.5rem;
  border-left: 0.5rem solid green;
  border-radius: 0.6rem;
  margin-top: 1rem;
  width: 100%;
}
.bmi-danger {
  color: red;
  background-color: rgb(233, 196, 196);
  padding: 0.5rem;
  border-left: 0.5rem solid red;
  border-radius: 0.6rem;
  margin-top: 1rem;
}

.hr {
  color: rebeccapurple;
  margin-bottom: 2rem;
}

#form {
  display: grid;
  gap: 1;
}

#form div {
  display: flex;
  align-items: center;
}
.first-child,
.second-child {
  margin-bottom: 1.5rem;
}

#form label {
  flex: 0 0 12rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #212121;
}

#form input {
  flex: 1;
  border: 0.1rem solid rebeccapurple;
  padding: 1rem;
  outline: none;
  border-radius: 0.5rem;
  background-color: rgb(232, 228, 236);
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.7rem;
}
button {
  width: 50%;
  padding: 1rem;
  background-color: rebeccapurple;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rebeccapurple;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(120%);
  }
}
.btn-1 {
  background-color: #212121;
  color: white;
}

/*  output cls */

.output {
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.output #bmi {
  font-size: 5rem;
}

.output #desc strong {
  text-transform: capitalize;
}

#bmi-scale {
  display: flex;
}
#bmi {
  margin-top: 1rem;
}

#bmi-scale div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  border-top: 0.2rem solid var(--color);
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

#bmi-scale h4 {
  text-align: center;
  color: rgb(161, 132, 190);
}
